<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body class="bg-slate-300 text-[10px] font-poppins">
    <div class="mx-auto mt-[10px] w-[612px] bg-white h-[1008px] border-2 border-gray-400">

        <!------------------ FIRST SECTION -------------------->
        <div class="flex flex-row mt-2 px-4">

            <div class="w-1/4 bg-white p-3 text-center border-[1px] border-black text-[8px]">
                <h2 class="font-bold">CONTACTS</h2>
                office@serbianmovers.com<br>
                www.serbianmovers.com<br>
                (224) 291 - 8942
            </div>
            <div class="w-1/2 text-center px-4 leading-tight">
                <h2 class="font-bold underline mb-2 tracking-wider"> HOUSEHOLD GOOD BILL OF LADDING </h2>
                Serbian Movers LLC <br>
                2720 South River Road #100, <br> 
                Des Plaines, IL 60018 <br>

                 ILCC: 234623
            </div>
            <div class="w-1/4  text-center flex flex-row text-[8px]">
                <div class="w-3/4 text-[7px]">
                    <div class="h-[15px] flex items-end w-full justify-end pr-1 ">
                       BOL NUMBER
                    </div>
                    <div class="h-[15px] flex items-end w-full justify-end pr-1">
                      AGREED PICKUP DATE
                    </div>
                    <div class="h-[15px] flex items-end w-full justify-end pr-1 ">
                       ACTUAL PICKUP DATE
                    </div>
                    <div class="h-[15px] flex items-end w-full justify-end pr-1 ">
                      AGREED DELIVERY DATE
                    </div>
                </div>
                <div class="w-1/4">
                    <input type="text" class="w-full rounded-none h-[14px] border-b-[1px] border-black mt-[1px]" value="<%=result.bol_number%>">
                    <input type="text" class="w-full rounded-none h-[14px] border-b-[1px] border-black mt-[1px]" value="<%=move_date%>">
                    <input type="text" class="w-full rounded-none h-[14px] border-b-[1px] border-black mt-[1px]" value="<%=move_date%>">
                    <input type="text" class="w-full rounded-none h-[14px] border-b-[1px] border-black mt-[1px]" value="<%=move_date%>">
                </div>
            </div>
        </div>
        <!------------------ FIRST SECTION ENDS -------------------->
        <!------------------ SECOND SECTION BEGIN------------------->

        <div class="mx-4 mt-2 border-[1px]  border-black px-2 text-[8px] leading-[10px] text-justify py-[2px] "> <b> Customer: </b> 
            This Bill of Lading establishes a contract between you and the household goods carrier. It confirms instructions and authorizes the carrier to move, ship , pack and/or perform the services shown. Before you sign this document it is important that you first read entire document, including the back, and that you ask for an explanation of anything that is not clear or that is different from any previous information received from the carrier or the carrier's representatives.
                
            </div>
        
        <div class="mx-2 px-2 flex flex-row">
            <div class="w-1/2 border-[1px] border-t-0 mr-1 border-black flex flex-col pb-[4px]">
                <h2 class="text-center font-semibold underline w-full mt-1  tracking-wider">  ORIGIN </h2>
                
                <div class="flex flex-row">
                    <p class="underline font-medium pl-2">Customer:</p>
                    <input type="text" class="pl-2 w-full" value="<%=result.first_name%> <%=result.last_name%>">
                </div>
                <div class="flex flex-row">
                    <p class="underline font-medium pl-2">Phone:</p>
                    <input type="text" class="pl-2 w-full" value="<%=result.phone_changed%>">
                </div>
                <div class="flex flex-row w-full">
                    <div class="flex-shrink-0">
                        <p class="underline font-medium pl-2 flex-1">Address:</p>
                    </div>
                    <div class="flex-grow">
                        <input type="text" class="pl-2 w-full  mb-[-2px]" value="<%=result.origin_address%>">
                    </div>
                    <div class="flex-grow-0">
                        <p class="underline font-medium pl-2">Unit:</p>
                    </div>
                    <div class="flex-1">
                        <input type="text" class="pl-2  w-full" value="<%=result.origin_address2%>">
                    </div>
                </div>
                <div class="flex flex-row w-full">
                        <p class="underline font-medium pl-2">City:</p>
                        <input type="text" class="pl-[2px] flex-grow" value="<%=result.origin_city%>">
                        <p class="underline font-medium pl-2">State:</p>
                        <input type="text" class="pl-[2px] w-[16px] text-left  mb-[-2px]" value="<%=result.origin_state%>">
                        <p class="underline font-medium pl-2">Zip:</p>
                        <input type="text" class="pl-[2px] w-[38px] mb-[-2px]" value="<%=result.origin_zipcode%>">
                </div>
                <div class="flex flex-row">
                    <p class="underline font-medium pl-2">Email:</p>
                    <input type="text" class="pl-2 w-full  " value="<%=result.email_changed%>">
                </div>
            </div>
            <div class="w-1/2 border-[1px] ml-1 border-black border-t-0 pb-[4px]">
                <h2 class="text-center font-semibold underline mt-1  tracking-wider" > DESTINATON </h2>
                <div class="flex flex-row">
                    <p class="underline font-medium pl-2">Customer:</p>
                    <input type="text" class="pl-2 w-full" value="<%=result.first_name%> <%=result.last_name%>">
                </div>
                <div class="flex flex-row">
                    <p class="underline font-medium pl-2">Phone:</p>
                    <input type="text" class="pl-2 w-full" value="<%=result.phone_changed%>">
                </div>
                <div class="flex flex-row w-full">
                    <div class="flex-shrink-0">
                        <p class="underline font-medium pl-2 flex-1">Address:</p>
                    </div>
                    <div class="flex-grow">
                        <input type="text" class="pl-2 w-full mb-[-4px]" value="<%=result.destination_address%>">
                    </div>
                    <div class="flex-grow-0">
                        <p class="underline font-medium pl-2">Unit:</p>
                    </div>
                    <div class="flex-1">
                        <input type="text" class="pl-2  w-full" value="<%=result.destination_address2%>">
                    </div>
                </div>
                <div class="flex flex-row w-full">
                        <p class="underline font-medium pl-2">City:</p>
                        <input type="text" class="pl-[2px] flex-grow" value="<%=result.destination_city%>">
                        <p class="underline font-medium pl-2">State:</p>
                        <input type="text" class="pl-[2px] w-[16px] text-left" value="<%=result.destination_state%>">
                        <p class="underline font-medium pl-2">Zip:</p>
                        <input type="text" class="pl-[2px] w-[38px]  mb-[-2px]"  value="<%=result.destination_zipcode%>">
                </div>
                <div class="flex flex-row">
                    <p class="underline font-medium pl-2">Email:</p>
                    <input type="text" class="pl-2 w-full" value="<%=result.email_changed%>">
                </div>
            </div>
        </div>
    
        <!------------------ SECOND SECTION END ------------------->
        <!------------------ THIRD SECTION BEGIN------------------->
        <div class="mx-4 border-[1px] border-black mt-2 px-2 text-[8px] leading-[10px] text-justify py-[4px]">
            <h2 class="text-center font-semibold underline w-full text-[10px] mb-[4px] tracking-wider">  INTRASTATE ONLY </h2>By signing this document, the customer confirms their agreement to an hourly rate of $138 for 2 movers and a truck, subject to a 2-hour minimum charge. The customer understands and agrees that the hourly charges will be assessed based on: a) The time spent loading and unloading the shipment; and b) The travel time expended by Serbian Movers LLC from its base point to the property's origin, then to the property's destination, and ultimately returning to its base point. Charges will be billed in 15-minute increments. Please review these terms and ensure your understanding. If you concur, sign this document to confirm your acceptance of the terms and conditions as outlined above.

            The customer acknowledges that Serbian Movers LLC will use Google Maps in offline (no traffic) mode to determine the fastest route, with the displayed time being applied as travel time from the company's base to the customer's origin and from the customer's destination back to the company's base, calculated in 15-minute increments. The driving time between the customer's origin and destination will be incorporated as part of the Job Hours in real time, reflecting the actual time taken to travel from the origin to the destination.
            Customer also confirms determined the start time and shipment valuation.
        </div>

        <!------------------ THIRD SECTION ENDS------------------->
        <!-- EXTRA SECTION -->
        
        <div class=" flex flex-row justify-between mx-4 pt-[4px] border-x-[1px] pl-2 pb-[3px] border-b-[1px] border-black text-[8px] pr-4">
            <strong> Moving Rate: </strong>
            <div class="inline-flex items-center">
                <input type="text" value="<%=result.truck_number%>" class="w-[15px] border-b-[1px] border-black text-center">
                <lablel> Trucks/Vans</lablel>
            </div>
            
            <div class="inline-flex items-center">
                <input type="text" value="<%=result.crew_size%>" class="w-[15px] border-b-[1px] border-black text-center">
                <lablel> Crew size</lablel>
            </div>
            
            <div class="inline-flex items-center">
                <lablel> $</lablel>
                <input type="text" value="<%=result.rate%>" class="w-[30px] border-b-[1px] border-black text-center">
                <lablel class="pl-[4px]"> Per Job Hour ,</lablel>
            </div>
            
            <div class="inline-flex items-center">
                <lablel class="text-[8px]"> <i> Plus </i></lablel>
            </div>
            <div class="inline-flex items-center">
                <input type="text" value="<%=result.travel_time%>" class="w-[25px] border-b-[1px] border-black text-center"> 
                <lablel> Hrs. Travel Time</lablel>
            </div>
        </div>
        <div class="mx-4 border-[1px] border-black border-t-0 px-2 text-[8px] leading-[10px] text-justify py-[4px] h-[50px] flex flex-row  justify-evenly">
            <div class="flex-1">
                Signed by Shipper
            </div>
            <div class="flex-grow">
                <img src="/<%=result.signature2_url%>" alt="First signature" class="h-full">
            </div>
            <div class="text-[5px] border-l-[1px] border-gray-400 pt-2 pl-2 italic">
                <div>Date and time of signature:<input type="text" class="border-x-0 border-y-0"> </div>
                <div>Signature hash: <%=result.signature2_hash%></div>
                <div>Device ip: <%=result.signatures_ip %> </div>
            </div>
        </div>
    
        <!-- END EXTRA SECTION -->
        <!------------------ FOURTH SECTION BEGIN ------------------->
        <div class=" flex flex-row mx-4 mt-[4px]">
            <div class="w-1/2 mr-1 border-[1px] border-black text-[8px]">
                <div class=""> <!-- DETAILS OF PACKING MATERIALS-->
                        
                    <h2 class="text-center font-semibold underline w-full text-[10px] pt-1  tracking-wider">  DETAILS OF PACKING MATERIALS </h2>

                    <div class="p-2  w-full text-[8px]">
                        <table class="table-auto w-full">
                        <thead>
                            <tr>
                                <th class="border border-black p-[2px] w-1/2">Description</th>
                                <th class="border border-black p-[2px] w-1/6">Quan.</th>
                                <th class="border border-black p-[2px] w-1/6">Rate </th>
                                <th class="border border-black p-[2px] w-1/6 underline underline-offset-1">Charges</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td class="border border-black p-[2px] pl-2">Box, 1.5 cu. ft.</td>
                            <td class="border border-black p-[2px] px-2 text-center"><%=result.b15%></td>
                            <td class="border border-black p-[2px] pl-2">$1.75</td>
                            <td class="border border-black p-[2px] px-2 text-center">$<%=b15%></td>
                            </tr>
                            <tr>
                            <td class="border border-black p-[2px] pl-2">Box, 3.0 cu. ft.</td>
                            <td class="border border-black p-[2px] px-2 text-center"><%=result.b30%></td>
                            <td class="border border-black p-[2px] pl-2">$3.15</td>
                            <td class="border border-black p-[2px] px-2 text-center">$<%=b30%></td>
                            </tr>
                            <tr>
                            <td class="border border-black p-[2px] pl-2">Box, 4.5 cu. ft.</td>
                            <td class="border border-black p-[2px] px-2 text-center"><%=result.b45%></td>
                            <td class="border border-black p-[2px] pl-2">$4.90</td>
                            <td class="border border-black p-[2px] px-2 text-center">$<%=b45%></td>
                            </tr>
                            <tr>
                            <td class="border border-black p-[2px] pl-2">Box, 6.0 cu. ft.</td>
                            <td class="border border-black p-[2px] px-2 text-center"><%=result.b60%></td>
                            <td class="border border-black p-[2px] pl-2">$6.55</td>
                            <td class="border border-black p-[2px] px-2 text-center">$<%=b60%></td>
                            </tr>
                            <tr>
                            <td class="border border-black p-[2px] pl-2">Mirror carton</td>
                            <td class="border border-black p-[2px] px-2 text-center"><%=result.mirror%></td>
                            <td class="border border-black p-[2px] pl-2">$8.05</td>
                            <td class="border border-black p-[2px] px-2 text-center">$<%=mirror%></td>
                            </tr>
                            <tr>
                            <td class="border border-black p-[2px] pl-2">DishPack box</td>
                            <td class="border border-black p-[2px] px-2 text-center"><%=result.dishpack%></td>
                            <td class="border border-black p-[2px] pl-2">$8.05</td>
                            <td class="border border-black p-[2px] px-2 text-center">$<%=dishpack%></td>
                            </tr>
                            <tr>
                            <td class="border border-black p-[2px] pl-2">Mattress Cover</td>
                            <td class="border border-black p-[2px] px-2 text-center"><%=result.mattress%></td>
                            <td class="border border-black p-[2px] pl-2">$10.10</td>
                            <td class="border border-black p-[2px] px-2 text-center">$<%=mattress%></td>
                            </tr>
                            <tr>
                            <td class="border border-black p-[2px] pl-2">Tape (per 55 Yd Roll)	</td>
                            <td class="border border-black p-[2px] px-2 text-center"><%=result.tape%></td>
                            <td class="border border-black p-[2px] pl-2">$3.15</td>
                            <td class="border border-black p-[2px] px-2 text-center">$<%=tape%></td>
                            </tr>
                            <tr>
                            <td class="border border-black p-[2px] pl-2">Bubble Wrap (per Sq Ft)</td>
                            <td class="border border-black p-[2px] px-2 text-center"><%=result.bubble%></td>
                            <td class="border border-black p-[2px] pl-2">$1.10</td>
                            <td class="border border-black p-[2px] px-2 text-center">$<%=bubble%></td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    
                </div>
                
                <div class="pl-[4px] border-t-[1px] border-black">
                    <h2 class="text-left font-semibold underline w-full text-[10px] mb-[2px] pl-[4px] pt-1  tracking-wider">  ESTIMATES </h2>
                   
                    <p class="pl-[4px] pr-[8px] py-[2px] leading-[10px] text-justify">
                        The mover has given a non-binding estimate based on provided information. If actual charges exceed the estimate, you must pay 110% of the estimated amount at delivery, with the remaining balance due within 30 days. By signing, you acknowledge and agree to these terms.
                    </p>
                </div>
                <div class="pl-[4px] border-t-[1px] border-black">
                    <h2 class="text-left font-semibold underline w-full text-[10px] mb-[2px] pl-[4px] pt-1  tracking-wider">  VALUATION </h2>
                    <p class="pl-[4px] pr-[8px] py-[2px] leading-[10px] text-justify">
                        Before the move, the shipper must write the shipment's actual value or "30 cents per pound per article" on the contract. Otherwise, its maximum value will be $2.00 times its weight. Extra charges may apply for values over 30 cents per pound. Declared value isn't insurance; separate insurance can be bought for an additional cost.</p>
                        <input type="text" class="border-b-[1px] border-black w-5/6 mx-auto text-center mt-[4px] ml-[20px] text-[10px]" value="30 cents per pound per article"> 
                </div>


            </div>
            <div class="w-1/2 ml-1 border-[1px] border-black  text-[8px]">
                    


                <div class="w-full  text-[8px]"> <!-- DETAILS OF TIME RECORD-->
                  <h2 class="text-center mt-[2px] font-semibold underline w-full text-[10px] pt-1  tracking-wider">  DETAILS OF TIME RECORD </h2>
                  <div class="w-full flex flex-row mt-[8px]">   
                         <div class="w-1/2 ml-[10px] flex flex-row">
                              <div class="w-[60px]">Start Time:</div>
                              <input type="text" class="w-[50px] text-center border-b-[1px] border-black" value="<%=start_time%>">
                         </div>
  
                         <div class="w-1/2 flex flex-row">
                             <div class="w-[60px]">End Time:</div>
                             <input type="text" class="w-[50px] border-b-[1px] border-black text-center" value="<%=end_time%>">
                         </div>

                  </div>  
                  <div class="w-full flex flex-row mt-[8px]">   
                         <div class="w-1/2 ml-[10px]  flex flex-row">
                              <div class="w-[60px]">Labor Time:</div>
                              <input type="text" class="w-[50px] text-center border-b-[1px] border-black" value="<%=jobhrs%>">
                         </div>
  
                         <div class="w-1/2  flex flex-row">
                             <div class="w-[60px]">Travel Time:</div>
                             <input type="text" class="w-[50px] border-b-[1px] border-black text-center" value="<%=travel_time%>">
                         </div>

                  </div>  
                  <div class="w-full flex flex-row mt-[8px]">   
                         <div class="w-1/2 ml-[10px]  flex flex-row">
                              <div class="w-[60px]">Break Time:</div>
                              <input type="text" class="w-[50px] text-center border-b-[1px] border-black" value="">
                         </div>
  
                         <div class="w-1/2  flex flex-row">
                             <div class="w-[60px]">Total Hours:</div>
                             <input type="text" class="w-[50px] border-b-[1px] border-black text-center" value="<%=totalhrs%>">
                         </div>

                  </div>  
                </div>
                

                <div class="w-full border-t-[1px] border-black mt-[6px] text-[8px]"> <!-- DETAILS OF TOTAL CHARGES-->
                    <h2 class="text-center  font-semibold underline w-full text-[10px] pt-1  tracking-wider">  DETAILS OF TOTAL CHARGES </h2>
                    
                    <div class="p-2  w-full text-[8px]">
                        <table class="table-auto w-full">
                        <thead>
                            <tr>
                                <th class="border border-black p-[2px] w-1/2">Description</th>
                                <th class="border border-black p-[2px] w-1/6">Quan.</th>
                                <th class="border border-black p-[2px] w-1/6">Rate </th>
                                <th class="border border-black p-[2px] w-1/6 underline underline-offset-1">Charges</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td class="border border-black p-[2px] pl-2">Labor Time</td>
                            <td class="border border-black p-[2px] px-2 text-center"><%=result.labor_time%></td>
                            <td class="border border-black p-[2px] pl-2">$138.00</td>
                            <td class="border border-black p-[2px] px-2 text-center">$<%=travel_time_charges%></td>
                            </tr>
                            <tr>
                            <td class="border border-black p-[2px] pl-2"> + Travel Time</td>
                            <td class="border border-black p-[2px] px-2 text-center"><%=result.travel_time%></td>
                            <td class="border border-black p-[2px] pl-2">$138.00</td>
                            <td class="border border-black p-[2px] px-2 text-center">$<%=labor_time_charges%></td>
                            </tr>
                            <tr>
                            <td class="border border-black p-[2px] pl-2 border-r-0"> + Materials</td>
                            <td class="border border-black p-[2px] pl-2 border-x-0"></td>
                            <td class="border border-black p-[2px] pl-2 border-x-0"></td>
                            <td class="border border-black p-[2px] px-2 text-center">$<%=result.packingmaterials%></td>
                            </tr>
                            <tr>
                            <td class="border border-black p-[2px] pl-2 border-r-0">+ Additional Charges</td>
                            <td class="border border-black p-[2px] pl-2 text-center border-none"></td>
                            <td class="border border-black p-[2px] pl-2 text-center border-none"></td>
                            <td class="border border-black p-[2px] pl-2 text-center border-l-0"></td>
                            </tr>
                            <tr>
                            <td class="border border-black p-[2px] pl-2">+</td>
                            <td class="border border-black p-[2px] pl-2"></td>
                            <td class="border border-black p-[2px] pl-2"></td>
                            <td class="border border-black p-[2px] pl-2"></td>
                            </tr>
                            <tr>
                            <td class="border border-black p-[2px] pl-2">+</td>
                            <td class="border border-black p-[2px] pl-2"></td>
                            <td class="border border-black p-[2px] pl-2"></td>
                            <td class="border border-black p-[2px] pl-2"></td>
                            </tr>
                            <tr>
                            <td class="border border-black p-[2px] pl-2">+</td>
                            <td class="border border-black p-[2px] pl-2"></td>
                            <td class="border border-black p-[2px] pl-2"></td>
                            <td class="border border-black p-[2px] pl-2"></td>
                            </tr> 
                        </tbody>
                        </table>
                        <table class="table-auto w-full">
                        <tbody>
                            <tr>
                            <td class="border border-black p-[2px] px-2 text-right pr-[6px]"><strong> Total move charges </strong></td>
                            <td class="border border-black p-[2px] px-1 text-center w-1/6 font-bold"> $<%=result.subtotalcc%></td>
                            </tr>
                            <tr>
                            <td class="border border-black p-[2px] pl-2 text-right pr-[6px]"> Prepayment received</td>
                            <td class="border border-black p-[2px] px-1 text-center">$<%=result.deposit%></td>
                            </tr>
                            <tr>
                            <td class="border border-black p-[2px] pl-2 text-right pr-[6px]">  Charges Due</td>
                            <td class="border border-black p-[2px] px-1 text-center">$<%=result.subtotal%></td>
                            </tr>
                            <tr>
                            <td class="border border-black p-[2px] pl-2 text-right pr-[6px]"> Paid at Delivery </td>
                            <td class="border border-black p-[2px] px-1 text-center">$<%=result.subtotal%></td>
                            </tr>
                            <tr>
                            <td class="border border-black p-[2px] pl-2 text-right"> <span class="text-[6px]"> Must be paid within 30 days  &nbsp;&nbsp;&nbsp; </span> <strong> REMAINING BALANCE</strong></td>
                            <td class="border border-black p-[2px] px-1 text-center"><strong> $0 </strong></td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="px-[4px] border-t-[1px] border-black">
                    <h2 class="text-left font-semibold underline w-full text-[10px] mb-[2px] pl-[4px] pt-1  tracking-wider">  PAYMENT METHOD </h2>
                    <p class="px-1 text-justify text-[8px] leading-[10px]">The customer and carrier mutually agree that payment at the time of delivery will be made using:</p>
                    <div class="flex flex-row w-full justify-evenly pb-1 mt-1">
                        <div class="flex items-center">
                            <input  type="radio" id="creditCard" name="payment" value="creditCard" class="mr-1 checked">
                            <label for="creditCard"> Credit Card</label>
                        </div>
                        <div class="flex items-center">
                            <input type="radio" id="cash" name="payment" value="cash" class="mr-1">
                            <label for="cash">Cash</label>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>


        
        <div class="mx-4 border-[1px] border-black mt-[5px] px-2 text-[8px] leading-[10px] text-justify py-[4px] h-[40px]">
            I have conducted a thorough inspection of my belongings and premises, encompassing elevators, floors, and stairwells. No damages have been identified, except those explicitly noted. Both the cab and the rear of the truck are empty, signifying the completion of the job.           
        </div>
        
        <div class="mx-4 border-[1px] border-black border-t-0 px-2 text-[8px] leading-[10px] text-justify py-[4px] h-[50px] flex flex-row  justify-evenly">
            <div class="flex-1">
                Signed by Shipper
            </div>
            <div class="flex-grow">
                <img src="/<%=result.signature1_url%>" alt="First signature" class="h-full">
            </div>
            <div class="text-[5px] border-l-[1px] border-gray-400 pt-2 pl-2 italic">
                <div>Date and time of signature: <input type="text" class="border-x-0 border-y-0"> </div>
                <div>Signature hash: <%=result.signature1_hash%></div>
                <div>Device ip: <%=result.signatures_ip %> </div>
            </div>
        </div>
        
        <div class="mx-4 border-[1px] border-black border-t-0 px-2 text-[8px] leading-[10px] text-justify py-[4px] h-[50px] flex flex-row  justify-evenly">
            <div class="flex-1">
                Signed by Driver
            </div>
            <div class="flex-grow">
                <img src="/<%=result.signature3_url%>" alt="First signature" class="h-full">
            </div>
            <div class="text-[5px] border-l-[1px] border-gray-400 pt-2 pl-2 italic">
                <div>Date and time of signature:<input type="text" class="border-x-0 border-y-0">  </div>
                <div>Signature hash: <%=result.signature3_hash%></div>
                <div>Device ip: <%=result.signatures_ip %> </div>
            </div>
    </div>
    <div class="flex flex-row">
        <div class="text-[6px] w-1/2 italic text-left pl-[30px] mt-[2px]"> Page 1 of 2</div>
        <div class="text-[6px] w-1/2 italic text-right pr-[20px] mt-[2px]"> Document GUID: <%= result.document_id %></div>
    </div>
    </div>



        <!-------------------- NOVA SEKCIJA  =============-->
        
        </div>

    <div class="mx-auto w-[612px] bg-white h-[1008px] border-2 border-gray-400">
  <!-------------------- NOVA SEKCIJA  =============-->
        
        <img src="/bolconditions.jpg" alt="" class="w-full">
        
    <div class="flex flex-row mt-[-15px]">
        <div class="text-[6px] w-1/2 italic text-left pl-[30px] mt-[2px]"> Page 2 of 2</div>
        <div class="text-[6px] w-1/2 italic text-right pr-[20px] mt-[2px]"> Document GUID: <%= result.document_id %></div>
    </div>

    </div>
    <div class="mx-auto w-[612px] bg-white h-[1008px] border-2 border-gray-400">
        <!-------------------- NOVA SEKCIJA  =============-->
            <div class="w-5/6 mx-auto">
                <div class="tracking-widest mt-[20px] text-[20px] text-right border-b-[2px] border-gray-400"> AUDIT TRAIL </div>
                <div class="flex flex-row">
                    <div class="w-1/3 flex flex-col text-gray-400 font-semibold">
                        <div class="pt-[5px] pl-[6px] tracking-widest">TITLE:</div>
                        <div class="pt-[5px] pl-[6px] tracking-widest">DOCUMENT GUID:</div>
                        <div class="pt-[5px] pl-[6px] tracking-widest">DOCUMENT ID:</div>
                        <div class="pt-[5px] pl-[6px] tracking-widest">TIME ZONE:</div>
                        <div class="pt-[5px] pl-[6px] tracking-widest">DOCUMENT STATUS:</div>
                        <div class="pt-[5px] pl-[6px] tracking-widest">DOCUMENT PAGES:</div>
                    </div>
                    <div class="w-2/3 flex flex-col text-black tracking-wider font-semibold">
                        <div class="pt-[5px]"> Bill of Ladding</div>
                        <div class="pt-[5px]"> <%=result.document_id%></div>
                        <div class="pt-[5px]"> <%=result.bol_number%></div>
                        <div class="pt-[5px]"> America/Chicago</div>
                        <div class="pt-[5px]"> Completed</div>
                        <div class="pt-[5px]"> 2</div>
                    </div>
                </div>
                
                <div class="tracking-widest  mt-[20px] text-[10px] text-right mt-0 border-b-[1px] border-gray-400"> DOCUMENT HISTORY </div>
                <div class="font-gray-100 tracking-widest mt-2 mb-[16px]"> Signed 1 by Shipper</div>
                <div class="flex flex-row">
                    <div class="w-1/3 flex flex-col text-gray-400 font-semibold">
                        <div class="pt-[5px] pl-[6px] tracking-widest">SHIPPER NAME:</div>
                        <div class="pt-[5px] pl-[6px] tracking-widest">DATE AND TIME:</div>
                        <div class="pt-[5px] pl-[6px] tracking-widest">SIGNATURE HASH:</div>
                        <div class="pt-[5px] pl-[6px] tracking-widest">DEVICE IP:</div>
                        <div class="pt-[5px] pl-[6px] tracking-widest">ACTION:</div>
                    </div>
                    <div class="w-2/3 flex flex-col text-black tracking-wider font-semibold">
                        <div class="pt-[5px]"> <%=result.first_name%> <%=result.last_name%></div>
                        <div class="pt-[5px]"> <input type="text" class="border-x-0 border-y-0"> </div>
                        <div class="pt-[5px]"> <%=result.signature1_hash%></div>
                        <div class="pt-[5px]"> <%=result.signatures_ip%></div>
                        <div class="pt-[5px]"> Signed</div>
                    </div>
                </div>

                  
                <div class="tracking-widest  mt-[20px] text-[10px] text-right mt-0 border-b-[1px] border-gray-400"></div>
                <div class="font-gray-100 tracking-widest mt-2 mb-[16px]"> Signed 2 by Shipper</div>
                <div class="flex flex-row">
                    <div class="w-1/3 flex flex-col text-gray-400 font-semibold">
                        <div class="pt-[5px] pl-[6px] tracking-widest">SHIPPER NAME:</div>
                        <div class="pt-[5px] pl-[6px] tracking-widest">DATE AND TIME:</div>
                        <div class="pt-[5px] pl-[6px] tracking-widest">SIGNATURE HASH:</div>
                        <div class="pt-[5px] pl-[6px] tracking-widest">DEVICE IP:</div>
                        <div class="pt-[5px] pl-[6px] tracking-widest">ACTION:</div>
                    </div>
                    <div class="w-2/3 flex flex-col text-black tracking-wider font-semibold">
                        <div class="pt-[5px]"> <%=result.first_name%> <%=result.last_name%></div>
                        <div class="pt-[5px]"> <input type="text" class="border-x-0 border-y-0"> </div>
                        <div class="pt-[5px]"> <%=result.signature2_hash%></div>
                        <div class="pt-[5px]"> <%=result.signatures_ip%></div>
                        <div class="pt-[5px]"> Signed</div>
                    </div>
                </div>

                                  
                <div class="tracking-widest  mt-[20px] text-[10px] text-right mt-0 border-b-[1px] border-gray-400"></div>
                <div class="font-gray-100 tracking-widest mt-2 mb-[16px]"> Signed by Driver</div>
                <div class="flex flex-row">
                    <div class="w-1/3 flex flex-col text-gray-400 font-semibold">
                        <div class="pt-[5px] pl-[6px] tracking-widest">COMPANY NAME:</div>
                        <div class="pt-[5px] pl-[6px] tracking-widest">DATE AND TIME:</div>
                        <div class="pt-[5px] pl-[6px] tracking-widest">SIGNATURE HASH:</div>
                        <div class="pt-[5px] pl-[6px] tracking-widest">DEVICE IP:</div>
                        <div class="pt-[5px] pl-[6px] tracking-widest">ACTION:</div>
                    </div>
                    <div class="w-2/3 flex flex-col text-black tracking-wider font-semibold">
                        <div class="pt-[5px]"> Serbian Movers LLC</div>
                        <div class="pt-[5px]"> <input type="text" class="border-x-0 border-y-0"> </div>
                        <div class="pt-[5px]"> <%=result.signature3_hash%></div>
                        <div class="pt-[5px]"> <%=result.signatures_ip%></div>
                        <div class="pt-[5px]"> Signed</div>
                        
                    </div>
                </div>

            </div>

            </div>



</div>
</body>
</html>